Repository piqueserver/piqueserver, pull requests merged in 2019-02, with the labels that each got.

#456 make maps in new thread
  piqueserver/core_commands/map.py
  piqueserver/map.py
  piqueserver/scripts/savemap.py
  piqueserver/scripts/votemap.py
  piqueserver/server.py
Labels: PR: solve-bug

#457 calculate absolute uptime instead of hacky incrementing
  piqueserver/web/templates/status.html
Labels: PR: improvement

#417 Improve duration declaration
  doc/config-options.rst
  piqueserver/config.py
  piqueserver/config/config.toml
  piqueserver/core_commands/game.py
  piqueserver/core_commands/moderation.py
  piqueserver/player.py
  piqueserver/scripts/afk.py
  piqueserver/scripts/aimbot2.py
  piqueserver/scripts/antijerk.py
  piqueserver/scripts/spawn_protect.py
  piqueserver/scripts/spectatorcontrol.py
  piqueserver/scripts/squad.py
  piqueserver/scripts/votekick.py
  piqueserver/scripts/votemap.py
  piqueserver/server.py
  piqueserver/utils/__init__.py
  piqueserver/utils/timeparse.py
  tests/piqueserver/test_config.py
  tests/piqueserver/test_core_commands.py
  tests/piqueserver/utils/test_timeparse.py
Labels: core commands, enhancement

#462 Refactor out script logic from server.py
  piqueserver/extensions.py
  piqueserver/server.py
  tests/piqueserver/test_extensions.py
  tests/piqueserver/test_scripts/__init__.py
  tests/piqueserver/test_scripts/test_script_game_mode.py
  tests/piqueserver/test_scripts/test_script_regular.py
  tests/piqueserver/test_server.py
Labels: PR: refactoring, PR: tests
